# GCP project
# take from "Project ID" on the dashboard for the project in GCP console
GCP_PROJECT_ID=fcb-backend   

# GCP region for cloud run deploy - put it close to you/your players
GCP_REGION=us-central1

# GCP service account email
# take from the 'cliemt-email' fieled in the key file you download from GCP
GCP_SERVICE_ACCT_EMAIL=fcb-backend-service@fcb-backend.iam.gserviceaccount.com

# GCP default storage account email
# find in the list of service accounts after you enable the cloud storage service
GCP_DEFAULT_STORAGE_ACCOUNT=1018898948439-compute@developer.gserviceaccount.com

# Storage Configuration - should match what you're going to put (or already have) in foundry configuration
# See https://foundryvtt.com/article/aws-s3/ for more info
GCS_BUCKET_NAME=fvtt-fcb-backend

# OPENAI API Configuration
# it's a really long # - get from https://platform.openai.com
OPENAI_API_KEY=sk-proj-SMCp9_Tu0keQ9T3Blbk...
