# GCP project
# take from "Project ID" on the dashboard for the project in GCP console
GCP_PROJECT_ID=fcb-backend   

# GCP region for cloud run deploy - put it close to you/your players
GCP_REGION=us-central1

# GCP service account email
# take from the 'client-email' fieled in the key file you download from GCP
GCP_SERVICE_ACCT_EMAIL=fcb-backend-service@fcb-backend.iam.gserviceaccount.com

# GCP default storage account email
# find in the list of service accounts after you enable the cloud storage service
GCP_DEFAULT_STORAGE_ACCOUNT=1018898948439-compute@developer.gserviceaccount.com

# Storage Type
# Options are gcs or aws
STORAGE_TYPE=aws

#############################
## Google Cloud Storage SETUP
#############################
# This is only needed if you've set STORAGE_TYPE to gcs
GCS_BUCKET_NAME=fvtt-fcb-backend

#############################
## AWS S3 SETUP
#############################
# These are only needed if you've set STORAGE_TYPE to aws
# Set them to the same values as you use in Foundry AWS options.json
# See https://foundryvtt.com/article/aws-s3/ for more info
# Except: specify a single bucket name... you cannot specify a list
AWS_REGION=us-east-2
AWS_BUCKET_NAME=my-bucket-name
AWS_ACCESS_KEY_ID=AKR3425523AQ54JFK92A
AWS_SECRET_ACCESS_KEY=k+DL...

# OPENAI API Configuration
# it's a really long # - get from https://platform.openai.com
OPENAI_API_KEY=sk-proj-SMCp9_Tu0keQ9T3Blbk...

# Replicate API Configuration
# Create it here - https://replicate.com/account/api-tokens
REPLICATE_API_KEY=r8_your-replicate-api-key